/*GENERAL SETTING*/
*,
*:after,
*:before {
   box-sizing: border-box;
}
.clearfix {
   &:after {
      content: "";
      clear: both;
      display: block;
   }
}
/*NTRO*/
.intro {
   position: relative;
   .img-holder {
      height: 891px;
      overflow: hidden;
      img {
         display: block;
         width: 100%;
      }
   }
   .intro-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 50px;
      margin-bottom: 20px;
      position: absolute;
      top: 39px;
      left: 0;
      width: 100%;
      @include media("<880px") {
         flex-direction: column;
      }
      ul {
         display: flex;
         flex-direction: row;
         @include media("<770px") {
            flex-direction: column;
            margin-top: 10px;
            li {
               margin-bottom: 15px;
            }
         }
         li {
            margin-right: 64px;
            &:last-child {
               margin-right: 0;
            }
            a {
               text-decoration: none;
               color: $white;
               cursor: pointer;
               font-family: $openSans;
               font-size: 13px;
               letter-spacing: 1.2px;
               font-weight: 500;
               &:hover {
                  color: $persimmon;
               }
            }
         }
      }
   }
   .slogan {
      position: absolute;
      bottom: 145px;
      left: 0;
      padding: 0 114px;
      @include media("<770px") {
         display: none;
      }
   }
}
/*END OF NTRO*/

/*MAIN-INFO*/
/*about*/
.about {
   background: $atlantis;
   padding-top: 104px;
   padding-bottom: 119px;
   .about-wrapper {
      color: $white;
      display: flex;
      justify-content: space-evenly;
      .delimiter {
         display: flex;
         .about-block {
            width: 270px;
            margin: 0 10px;
            .about-ico {
               font-size: 43px;
               display: block;
               margin-bottom: 24px;
            }
            strong {
               font-family: $openSans;
               font-size: 24.04px;
               line-height: 26px;
               font-weight: 400;
               display: block;
               margin-bottom: 20px;
            }
            p {
               font-family: $openSans;
               font-size: 13.99px;
               line-height: 25px;
               font-weight: 400;
               height: 110px;
               margin-bottom: 7px;
            }
            .more-inf {
               position: relative;
               a {
                  text-decoration: none;
                  color: $white;
                  cursor: pointer;
                  font-family: $openSans;
                  font-size: 14px;
                  font-weight: 400;
                  margin-right: 3px;
                  &:hover {
                     text-decoration: underline;
                  }
               }
            }
         }
      }
      @include media(">=1191px") {
         width: 1181px;
         margin: auto;
         flex-wrap: nowrap;
      }
      @include media("<=1190px") {
         flex-wrap: wrap;
         align-content: center;
         .delimiter {
            margin-bottom: 12px;
         }
      }
      @include media("<650px") {
         flex-direction: column;
         align-content: center;
         .delimiter {
            flex-direction: column;
            align-content: center;
            .about-block {
               margin-bottom: 20px;
            }
         }
      }
   }
   @include media("<=1190px") {
      padding-top: 30px;
      padding-bottom: 30px;
   }
}
/*end of about*/
/*content-green*/
.data-green {
   background: $white;
   display: flex;
   flex-wrap: wrap;
   @include media(">=768px") {
      flex-wrap: nowrap;
   }
   @include media(">=1181px") {
      width: 1181px;
      margin: auto;
   }
   .data-content {
      width: 400px;
      padding-top: 55px;
      padding: 54px 52px;
      text-align: center;
      h1 {
         color: $persimmon;
         font-family: $montserrat;
         font-size: 14px;
         font-weight: 400;
         letter-spacing: 1.5px;
         margin-bottom: 7px;
      }
      strong {
         color: $atlantis;
         font-family: $openSans;
         font-size: 35px;
         line-height: 37px;
         font-weight: 300;
         display: block;
         margin-bottom: 20px;
      }
      .grey-drop {
         color: $porcelain;
         font-size: 23px;
         display: block;
         margin-bottom: 16.5px;
      }
      p {
         color: $nevada;
         font-family: $openSans;
         font-size: 14px;
         line-height: 27px;
         font-weight: 400;
         text-align: center;
         margin-bottom: 5px;
      }
      a {
         color: $atlantis;
         cursor: pointer;
         font-size: 14px;
         line-height: 16px;
         font-family: $openSans;
         font-weight: 400;
         &:hover {
            text-decoration: none;
            color: $persimmon;
         }
      }
   }
   .data-img {
      height: 394px;
      overflow: hidden;
      position: relative;
      @include media(">=768px") {
         flex: 1;
      }
      img {
         width: auto;
         display: block;
      }
      .data-img-content {
         position: absolute;
         bottom: 51px;
         font-size: 12px;
         color: $white;
         .red-drop {
            position: absolute;
            color: $persimmon;
            font-size: 32px;
            font-weight: 600;
            top: -12px;
         }
         .img-text {
            font-family: $openSans;
            font-weight: 400;
            margin-right: 12px;
         }
         .red-text {
            color: $carnation;
            em {
               color: $white;
            }
         }
      }
   }
}
.conten-green {
   @include box($atlantis);
   .data-green {
      &:nth-child(even) {
         .data-content {
            order: 1;
         }
         .data-img {
            order: 2;
            .data-img-content {
               left: 48px;
            }
         }
      }
      &:nth-child(odd) {
         .data-img {
            .data-img-content {
               right: 63px;
            }
         }
      }
   }
   @include media(">=768px") {
      .data-green {
         &:nth-child(even) {
            .data-content {
               order: 2;
            }
            .data-img {
               order: 1;
            }
         }
      }
   }
}
/*end of content green*/

/*content-red*/
.data-red {
   // overflow: hidden;
   display: flex;
   flex-wrap: wrap;
   @include media(">=768px") {
      flex-wrap: nowrap;
   }
   @include media(">=1181px") {
      width: 1181px;
      margin: auto;
   }
   .white-box {
      .white-box-content {
         background: $white;
         height: 310px;
         position: relative;
         .white-box-wrapper {
            padding: 54px 39px;
            h1 {
               color: $persimmon;
               font-family: $montserrat;
               font-size: 14px;
               font-weight: 400;
               margin-bottom: 6px;
            }
            strong {
               color: $atlantis;
               font-family: $openSans;
               font-size: 35px;
               line-height: 37px;
               font-weight: 300;
               display: block;
               margin-bottom: 29px;
            }
            p {
               color: $nevada;
               font-family: $openSans;
               font-size: 14px;
               line-height: 26px;
               font-weight: 400;
            }
         }
      }
   }
   // .llb {
   //    overflow: hidden;
   // }
   .green-box {
      .green-box-content {
         background: $atlantis;
         height: 310px;
         color: $white;
         position: relative;
      }
      .large-box {
         padding: 57px 60px;
         strong {
            display: block;
            font-size: 40px;
            line-height: 42px;
            font-family: $openSans;
            font-weight: 300;
            margin-bottom: 21px;
         }
         p {
            font-family: $openSans;
            font-size: 13px;
            line-height: 20px;
            font-weight: 400;
         }
      }
      .small-box {
         padding: 53px 39px;
         h1 {
            font-family: $montserrat;
            font-size: 17px;
            line-height: 19px;
            font-weight: 400;
            margin-bottom: 3px;
         }
         strong {
            font-family: $openSans;
            font-size: 36px;
            line-height: 38px;
            font-weight: 300;
            display: block;
            margin-bottom: 27px;
         }
         p {
            font-family: $openSans;
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
         }
      }
   }
   .img-holder {
      height: 359px;
      overflow: hidden;
      position: relative;
      @include media(">=768") {
         flex: 1;
      }
      img {
         width: auto;
         display: block;
      }
      .img-holder-content {
         position: absolute;
         top: 60px;
         .holder-text {
            color: $white;
            font-family: $montserrat;
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            letter-spacing: 1.2px;
            word-spacing: 1px;
            position: relative;
            margin-right: 10px;
         }
      }
      .left-text {
         left: 59px;
      }
      .right-text {
         right: 78px;
      }
   }
}
.conten-red {
   @include box($persimmon);
   .data-red {
      &:nth-child(even) {
         .white-box {
            order: 1;
         }
         .green-box {
            order: 2;
         }
      }
   }
}
/*end of content red*/
/*END OF MAIN-INFO*/
