@font-face {
   font-family: "icomoon";
   src: url("../fonts/icomoon.woff?d65kp0") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: "icomoon" !important;
   speak: never;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:after {
   content: "\e900";
   pointer-events: none;
   position: absolute;
   top: 2px;
   font-size: 18px;
}
.icon-avocado:before {
   content: "\e901";
   position: absolute;
   font-size: 38px;
   top: 57px;
   right: 29px;
   @include media("<1181px") {
      top: 10px;
      right: 50%;
   }
}
.icon-bag:before {
   content: "\e902";
   color: #fff;
}
.icon-cloud:before {
   content: "\e903";
   color: #fff;
}
.icon-drop:before {
   content: "\e904";
}
.icon-drop-red:after {
   content: "\e904";
}
.icon-speed:before {
   content: "\e905";
   color: #fff;
}
.icon-strawberry:before {
   content: "\e906";
   position: absolute;
   color: $porcelain;
   top: 56px;
   right: 45px;
   font-size: 38px;
   @include media("<1181px") {
      top: 10px;
      right: 50%;
   }
}
.icon-tag:after {
   content: "\e907";
   position: absolute;
   color: #fff;
   font-size: 23px;
   top: -4px;
   right: -32px;
}
.icon-textsms:before {
   content: "\e908";
   color: #fff;
}
.icon-user:before {
   content: "\e909";
   position: absolute;
   color: $porcelainUser;
   font-size: 32px;
   top: 56px;
   right: 28px;
   @include media("<1181px") {
      top: 10px;
      right: 50%;
   }
}
